.kit-primary {
  background-color: $primary;
}

.kit-primary-on {
  color: $primary;
}

.kit-primary-darker {
  background-color: $primary-darker;
}

.kit-primary-darker-on {
  color: $primary-darker;
}

.kit-primary-lighter {
  background-color: $primary-lighter;
}

.kit-primary-lighter-on {
  color: $primary-lighter;
}

.kit-secondary {
  background-color: $secondary;
}

.kit-secondary-on {
  color: $secondary;
}

.kit-secondary-darker {
  background-color: $secondary-darker;
}

.kit-secondary-darker-on {
  color: $secondary-darker;
}

.kit-secondary-lighter {
  background-color: $secondary-lighter;
}

.kit-secondary-lighter-on {
  color: $secondary-lighter;
}

.kit-background {
  background-color: $background;
}

.kit-foreground {
  background-color: $foreground;
}

.kit-warning {
  background-color: $warning;
}

.kit-warning-on {
  color: $warning;
}

.kit-error {
  background-color: $error;
}

.kit-error-on {
  color: $error;
}

.kit-dark-primary-text {
  color: $dark-primary-text;
}

.kit-light-primary-text {
  color: $light-primary-text;
}

.kit-dark-secondary-text {
  color: $dark-secondary-text;
}

.kit-light-secondary-text {
  color: $light-secondary-text;
}
