@mixin fullSpace {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin fullFixed {
  position: fixed;
  @include fullSpace();
}

@mixin fullAbsolute {
  position: absolute;
  @include fullSpace();
}

@mixin fullRelative {
  position: relative;
  @include fullSpace();
}

@mixin fullStatic {
  position: static;
  @include fullSpace();
}

.full {
  @include fullSpace();
}
