/* Typography */
$rem: 16px;
$h1: 2rem;
$h2: 1.75rem;
$h4: 1.5rem;

/* Spacing */
$gap: 10px;
$gutter: 15px;
$spacing: 20px;
$header-height: 70px;
$sidebar-width: 200px;
$loading-circle-size: 100px;

/* Borders, outlines and shadows */
$circle-border-radius: 50%;


/* Colors */
$black: #333;
$primary: #347ca2;
$grey-medium: #999;

/* Bootstrap breakpoints */
$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
