@import 'theme';

/* Typography */
$rem: 16px;
$rem-plus: 1.25rem;
$h1: $rem-plus;
$h2: $h1;
$h3: $h1;
$h4: 1rem;
$h5: 1rem;
$h6: 1rem;

/* Heights & Widths */
$header-height: 60px;
$sidebar-width: 200px;
$button-height: 40px;
$border-size: 1px;
$loading-circle-size: 100px;

/* Borders, Outlines & Shadows */
$color-xxx-border: $border-size solid $xxx;
$circle-border-radius: 50%;
