@import 'variables';

#fst-layout {
  display: grid;
  grid-template-rows: $header-height auto;
  grid-template-areas:
    'sidebar header'
    'main';
  height: 100%;
  margin: 0 $gap * 2;
  #fst-header {
    grid-area: header;
  }
  #fst-sidebar {
    grid-area: sidebar;
  }
  #fst-main {
    grid-area: main;
  }
}
