<div id="pref-layout">
  <div id="pref-header">
    <nav id="pref-nav">
      <h2 *ngFor="let link of links" [routerLink]="link.path">{{link.text}}</h2>
    </nav>
  </div>
  <div id="pref-page">
    <div id="pref-container">
      <div id="pref-sidebar">
        <!--TODO: widget component -->
        <div class="widget">
          <div class="widget__heading">
            <h3>Filters</h3>
          </div>
          <div class="widget__tags">
            <h4>Tags</h4>
            <ul style="margin-top: 20px;">
              <li>Tag 1</li>
              <li>Tag 2</li>
              <li>Tag 3</li>
            </ul>
          </div>
        </div>
      </div>
      <div id="pref-main">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
